[Unit]
Description=Smart Plug Collector

[Service]
Type=oneshot
User=piotr
WorkingDirectory=~/Smart-Plug-Connection
ExecStart=~/Smart-Plug-Connection/spc-collect.sh
